body{

font-family:Arial;

background:#f4f7fb;

}

.container{

width:700px;

margin:70px auto;

background:white;

padding:30px;

border-radius:10px;

box-shadow:0 5px 20px rgba(0,0,0,.1);

text-align:center;

}

button{

background:#2563eb;

color:white;

padding:15px 35px;

font-size:18px;

border:none;

border-radius:8px;

cursor:pointer;

}

button:hover{

background:#1e40af;

}

a{

font-size:18px;

text-decoration:none;

}